* {
  padding: 0px;
  margin: 0px;
}

main {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  overflow: hidden;
}

.center-content {
  height: 100%;
  width: 100%;
  text-align: center;
}

.display {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vehicles-container {
  border: 2px solid black;
  height: 300px;
  width: 300px;
}

.cars {
  height: 100%;
  width: 100%;
}

button {
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
}

.carsinfo {
  font-size: 18px;
  margin: 5px 0;
  padding-top: 20px;
  display: inline-block;
}
